@{
    ViewData["Title"] = "Shop";
}

@section Scripts{
    <script type="text/javascript">
            var Meal = function(title, desc, price, available, imageUrl){
                var self = this;
                self.title = title;
                self.desc = desc;
                self.price = price;
                self.available = ko.observable(available);
                self.imageUrl = imageUrl;
            }

            var Meals = [
                {title: "The Perfect Sandwich, A Real NYC Classic", desc: "", price: 155, available: 5, imageUrl: "https://www.w3schools.com/w3images/sandwich.jpg"},
                {title: "Let Me Tell You About This Steak", desc: "", price: 1380, available: 1, imageUrl: "https://www.w3schools.com/w3images/steak.jpg"},
                {title: "Cherries, interrupted", desc: "", price: 499, available: 2, imageUrl: "http://www.w3schools.com/w3images/cherries.jpg"},
                {title: "Once Again, Robust Wine and Vegetable Pasta", desc: "", price: 790, available: 3, imageUrl: "http://www.w3schools.com/w3images/wine.jpg"}
            ]

            var ShopViewModel = function(meals){
                self.showCart = ko.observable(false);
                self.meals = ko.observableArray(ko.utils.arrayMap(meals, function(meal) {
                    return new Meal(meal.title, meal.desc, meal.price, meal.available, meal.imageUrl);
                }));
                self.cart = ko.observableArray([]);         //Array of Meal
                self.addToCart = function(cart){
                    if(cart.available() > 0)
                    {
                        self.cart.push  (cart);
                        cart.available(cart.available() - 1);
                    }
                }
            }

            ko.applyBindings(new ShopViewModel(Meals));
    </script>
}

<div style="max-width: 1200px; margin: auto; font-size: 24px;">
    <div class="text-right" style="float: right">
        <a href="/Cart" class="">
            <span data-bind="text: cart().length" aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div> <div class="text-center">Shop</div>
</div>
<div class="container" style="margin-top: 60px; margin-bottom: 30px; ">
    <div data-bind="foreach: meals" class="row">
        <div class="col-xs-3">
            <img class="mealImage" data-bind="attr:{src: imageUrl}, css: { grayScale: available() == 0}" />
            <h3 class="mealTitle" data-bind="text: title"></h3>
            <h4 class="mealPrice">$<span data-bind="text: price"></span></h4>
            <div class="text-center">
                <button data-bind="click: addToCart, visible: available() > 1" type="button" class="btn btn-success btn-lg">
                    <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                    每日限量 <span data-bind="text: available"></span> 客
                </button>
                <button data-bind="click: addToCart, visible: available() == 1" type="button" class="btn btn-onlyOne btn-lg">
                    <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                    最後 <span data-bind="text: available"></span> 客
                </button>
                <button data-bind="visible: available() == 0" type="button" class="btn btn-secondary btn-lg btn-soldOut">
                    <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                    Sold out
                </button>
            </div>
        </div>
    </div>
</div>